/* Feuille CSS pour des paramètres globaux et la page d'accueil */
@charset "UTF-8";

/* FONTS */
@font-face {
    font-family: "mastura";
    src: url(../font/mastura/Mastura.ttf);
}

@font-face {
    font-family: "lato";
    src: url(../font/Lato-Light.ttf);
}

@font-face{
    font-family: "atari";
    src : url(../font/Atari/ATARCC__.TTF); 
}

@font-face {
    font-family: "goldman";
    src : url(../font/Goldman/Goldman-Regular.ttf); 
}
/* ----- */

/*===== GLOBAL =====*/

/* Paramètres pour animation de changements de page html */
.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
/* ----- */

html, body  {  
overflow: hidden;  
}  

body {
    color: white;
    font-family: "lato";
    background-color: black;
    padding: 0;
    margin: 0;
    width: 100%;

    /*Concerne le background*/
    background-image: url(../img/IMGFondReduit.jpg);
    background-size: cover;
    /*-webkit-background-clip: cover; /*Pour les anciens navigateurs */
    background-position: center center; /*Centrer horizontal et vertical*/
    background-repeat : no-repeat;
    min-height: 100vh;
    min-width: 100vh;
}

a, a:hover {
    text-decoration: none;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

* {
	box-sizing: border-box;
}

/* ACCUEIL */

.titre {
    z-index: 0;
    font-family: "mastura";
    text-align: center;
    font-size: 22vh;
    margin-top: 40vh;
    left : 8vw;
    transform: translateY(-50%) translateX(-6%);
    position : absolute; 
}

.subtitle {
    font-size: 2.5vmax;
    /*font-size: 2.5vw;*/
    z-index: 2;
    font-family: "lato";
    text-align: center;
    left: 1vw;
    top: 52vh;
    transform: translateY(-50%);
    position: relative;
    width: 40%;
}

.etoile {
    z-index: 1;
    transform: rotate(60deg);
    float: left;
    height: 40%;
    width: 40%;
    top: 30vh;
    left: 40vh;
    position: absolute;
}

#jouer {
    display: none;
    background-color: #F5E95D;
    color: #3a3a3a;
    opacity: 80%;
    border-color: #F5E95D;
}

.btn-warning {
    background-color: #F5E95D;
}

/* MAIN */

#main {
    margin: auto;
    padding-top: 6%;
    width: 300px;
    height: 300px;
    background-color: #ccc;
    border-radius: 3px;
    text-align: center;
    color: #000000;
}

#test {
    margin-top: 2%;
    border: #000000;
    border-radius: 3px;
}

.titre img {
    width: 80%;
    height: 80%;
    z-index : 0; 
}

.galaxie {
    position: absolute;
}

.galaxie img{
    width: 60%;
    height: 60%;

    z-index : 0;
    margin-top: 20vh;
    margin-bottom: 10vh;

    margin-left: 15vw; 
    margin-right: 20vw;

}

/*A propos - Main */ 
#logoS, #logoM, #logoP {
    width: 35%;
    opacity: unset;
}

#logoCM {
    width: 35%;
}

.panel {
    background-color: #3a3a3a;
    width: 60%;
    margin: auto;
    margin-top: 15vh;
    border-radius: 10px;
    padding: 2%;
    padding-left: 0%;
}

.panel a {
    color: #ccc;
}

.panel a:hover {
    color: #F5E95D;
}

.container-fluid img {
    margin-left:18vh;
    margin-top: 5%;
    margin-left: 10%;
}

.propos{
    margin-top: 4%;
    margin-left: 85%;
}

.proposNF{
    margin-top: 39%;
    margin-left: 85%;

}

.propos img {
    width: 5%;
    height: 5%;
    
    margin-right: 1vw;
    
    margin-left : 2vw; 
    margin-right: -1vw;
    margin-bottom: 5vh;
   

}

.proposNF img {
    width: 5%;
    height: 5%;
    
    margin-right: 1vw;
    
    margin-left : 2vw; 
    margin-right: -1vw;
    margin-bottom: 5vh;
   

}

.apropos{
    background-color: black; 
    margin-top : 15px;
    /* margin-left: 5vw;
    margin-right: 20vw;
    margin-bottom: 60vh; */

    z-index: 1;
    width: 50%;
    position : absolute;
}

.apropos p {
    font-family: 'goldman';
    font-size: 90%;
    /*color : white;*/
    text-align: justify;
}

.astronaut img {
    width: 40%;
    height: 40%;

    z-index: 2;
    margin-top: 9vh;
    margin-left: 55vw;
    margin-bottom: 5vh;
    /*
    margin-top: 1vh;
    margin-left: 50vw;
    margin-bottom: 20vh;
    */
}

.old{color : green;}
/* Page de jeux : calcul */


/* Remerciements */ 
.astronautBIS img {
    width: 10%;
}
.marge {
    margin-left: 2vw;
}

.couleur {
    color : yellow; 
}

.couleur_nom {
    color : darkgoldenrod; 
}


/* Infos perso */

.infos img {
    width: 10%;
}

/* FOOTER */